*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: pfagorasanspro; 
    src: url(fonts/pfagorasanspro-reg.ttf); 
   }
body{
    font: 100% pfagorasanspro, sans-serif;
}
.container{
        background: url(../img/envelope-background.png) no-repeat, url(../img/wrap_bg.png) no-repeat;
    background-size: 948px 490px, cover;
    background-position: center bottom, center center;
    /*min-height: 600px;*/
    position: relative;
    background-attachment: scroll, fixed;
    display:none;
    height:0;
}
.cover-container{
    background: url(../img/cover_bg.png) no-repeat;
    width:980px;
    background-position: center center;
    height:180px;
    background-size: cover;
    position:absolute;
    bottom:0;
    left:50%;
    margin-left:-490px;
    z-index:2;
    text-align:center;
    
}
.form-wrapper{
    padding:2% 0;
 background:url(../img/letter_bg.png) no-repeat;
 background-size: 100% 100%;
 position:absolute;
 bottom: -500px;
 width:954px;
 left:50%;
 margin-left:-477px;
 height:520px;
 z-index:1;
 background-position:center center;
}
.next_cont{
    position:relative;
    background:url(../img/back.png) no-repeat, #FFF;
    height:500px;
    z-index:2;
}
.wrap-sector{
    z-index:2;
    position:relative;
    height:800px;
}
.gor-menu{
   background:url(../img/nav_bg.png) repeat-x;
   padding: 23px 0;
}
.nav-gorizontal{
    overflow:hidden;
    list-style:none;
    width:730px;
    margin:0 auto;
}
.nav-gorizontal li{
    float:left;
}
.nav-gorizontal li a:hover, .nav-gorizontal li a.active{
    background:#4b9db9;
    border-radius:20px;
    box-shadow: inset 0 0 0 2px #1f1308;
    color:#cdcba8;
}
.nav-gorizontal li a{
    color:#a39f82;
    font-weight:bold;
    text-decoration:none;
    font-size:16px;
    display:inline-block;
    padding:12px 33px;
}
.clearfix::after{
    content:' ';
    display:block;
    clear:both;
}
.col-wrap{
    padding: 1% 3%;
    
}
.form_col-left, .form_right-col{
    float:left;
    width:35%;
}
.image-container{
    width:30%;
    float:left;
    position:relative;
}
.image-container img{
    position:absolute;
    top: -70px;
    left: -17px;
}
#hide-letter{
    text-transform:uppercase;
     color:#714a17;
     font-size:16px;
     display:inline-block;
     text-align:center;
     background:url(../img/trian.png) no-repeat;
     background-position: center right;
     text-decoration:none;
     width:116px;
     margin-top: 150px;
}